.social-card {
  display: flex;
}

.social-card-piece {
  min-height: 50px;
  display: flex;
  margin: 2px;
  border: 1px solid black;
  background-color: white;
  align-items: center;
}

.social-card-name {
  display: flex;
  align-items: center;
}

.social-card-npc {
  flex: 1;
  min-width: 190px;
  padding-left: 5px;
}

.social-card-gifts {
  flex: 14;
}

.social-card-optimal-gift {
  max-width: 60px;
  flex: 1;
}

.social-card-gift-list {
  display: flex;
  flex-wrap: wrap;
}

.social-card-single-gift {
  border-radius: 6px;
  border: 1px solid black;
  margin: 2px;
  font-size: 12px;
  padding: 1px 4px 1px 4px;
}

.social-card-avatar {
  height: 30px;
}

.social-card-birthday-icon {
  height: 28px;
}

.social-card-info {
  margin-left: 5px;
  padding-bottom: 3px;
  text-align: left;
}

.social-card-info p {
  font-size: 15px;
  margin-top: 0px;
  margin-bottom: 2px;
}

.social-card-points {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2px;
}

.social-card-remaining-next-level {
  font-size: 12px;
}

.social-card-heart {
  width: 13px;
  padding: 1px;
}
