body {
  background-color: #e0c880;
}

.App {
  text-align: center;
}

.page-instructions {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 4px;
}

.page-footer {
  margin-top: 20px;
  margin-bottom: 1px;
  border: 1px solid black;
  padding: 4px;
  background-color: white;
}
